<section class="container catalog-container_img">
  <div class="catalog-container_flex catalog-container__text">
    <p class="catalog-container__title catalog-container_border-text">Великий дизайн начинается с еще более великой
      истории </p>
    <p class="catalog-container__subtitle  catalog-container_border-text">Искусство, которое каждый может себе
      позволить.</p>
  </div>
  <app-button class="catalog-button_margin"
              [title]="title"
              routerLink="/store">
  </app-button>
</section>



