<div class="about-store">
  <div class="about-store_container">
    <div class="about-store_description">
      <div class="founders">
        <h1 class="founders_title">Основатели:</h1>
        <img src="../../../assets/pictures/vlad-iodo.jpg" alt="" class="founder__img">
        <img src="../../../assets/pictures/artur-stefanovich.jpg" alt="" class="founder__img">
      </div>
    </div>
    <div class="about-store_info">
      <h2>Carpenter</h2>
      <p>
        Одна из самых быстрорастущих в мире сетей, которая предлагает товары в категории
        «все для дома».
        Миссия Carpenter — предоставить каждому товары хорошего качества по привлекательной цене. Не смотря на то, что
        Carpenter
        является международной сетью, онa всегда остается верным своим скандинавским традициям. Эти принципы находят
        свое отражение в манере ведения бизнеса. Carpenter предлагает широкий выбор товаров, которые помогут создать
        атмосферу уюта в вашем доме от входа до спальни. Все необходимые товары вы найдете в одном месте: стулья, мягкая
        мебель,
        корпусная мебель, модульные элементы интерьера, мебель для дома и сада и многое
        другое.</p>
    </div>
    <div class="Wrapper Wrapper_type_default PageAbout">
      <div class="PageAbout-Container">
        <div class="PageAbout-ImgContainer">
          <div class="PageAbout-ImgInfo">
            <div class="PageAbout-ImgTitle"><h2>Диван — наша работа!</h2></div>
            <div class="PageAbout-ImgText">Изначально диван — это замысел, который дизайнер воплощает в карандашном
              наброске. В конструкторском бюро эскиз превращается в цифровую модель, затем в процесс включается
              производство. Здесь, шаг за шагом, из отборной древесины, лучших наполнителей и тканей создаются наши
              диваны. Такие красивые, мягкие, стильные — разные. И, как ведущий производитель, мы ежедневно доказываем,
              что российской мебели можно доверять.
            </div>
          </div>
          <div class="PageAbout-Row">
            <div class="LightBlock LightBlock_bottom">
              <div class="LightBlock-Col"><h2 class="LightBlock-Title">То, что подходит именно вам</h2>
                <div class="LightBlock-Text">Мы так любим правильные диваны, что посвятили им превосходный сайт.
                  Попасть
                  сюда смогли не все — мы провели большую работу и отобрали только лучшие экземпляры. Мы внимательно
                  следим за современными мебельными тенденциями, совершенствуем механизмы и технологии, чтобы всегда
                  отвечать самым высоким требованиям. Наш диван — не всегда готовый рецепт. Открываем «конструктор»,
                  меняем форму, размеры, материал обивки — всего пара кликов, и неповторимый диван готов. Ваша
                  фантазия и
                  наш многолетний опыт вместе способны творить чудеса.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="LightBlock-GroupImg">
          <div class="LightBlock-Img LightBlock-Img_count_1">
            <img src="../../../assets/background/sofa-transparent.png" alt="">
          </div>
          <div class="LightBlock-Img LightBlock-Img_count_2">
            <img src="../../../assets/background/items.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
